/**
 * www.ekallevig.com stylesheet
 * @author Erik Kallevig
 */


/**
 * Reset
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: bold;
}



/**
 * Globals
 */

html {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(116, 182, 207);
    color: rgb(255,255,255);
    font-family: 'Source Sans Pro', Georgia, 'Times New Roman', serif;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    line-height: 1.2;
    text-rendering: optimizelegibility;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    margin: 25px 0 15px;
}

a {
    color: rgb(255,255,255);
    text-decoration: underline;
}



/**
 * Home page
 */


/*@-webkit-keyframes smiley {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
  }
}

#smiley {
  -webkit-animation-name: smiley;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  display: inline-block;
  margin-left: 5px;
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}*/



/**
 * Large window
 */

@media all and (min-width: 501px) {

    .page-wrap {
        display: table;
        height: 100%;
        width: 100%;
    }

    .portrait-image {
        background: url(/images/erik-portrait-vertical.jpg) no-repeat 30% 0 / cover;
        display: table-cell;
        width: 50%;
    }

    .page-header {
        display: table-cell;
        padding: 0 5%;
        vertical-align: middle;
    }

    .page-title {
        font-size: 50px;
    }

}


/**
 * Medium window
 */

@media all and (min-width: 700px) {

    .portrait-image {
        width: 50%;
    }

    .page-title {
        font-size: 70px;
    }

}


/**
 * Small window
 */

@media all and (max-width: 500px) {

    .portrait-image {
        background: url(/images/erik-portrait-horizontal.jpg) no-repeat 0 30% / cover;
        height: 300px;
        width: 100%;
    }

    .page-header {
        padding: 0 5%;
    }

    .page-title {
        font-size: 40px;
    }

}
